<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">My spice</h2>
      <%= render partial: "form", locals: { spice: @spice} %>
        <%# 部分テンプレートでフォームを表示する %>
    </div>
  </div>
</div>